*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./images/BackGround\ .jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

nav{
    color: #fff;
    margin: 50px 50px;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-size: 2em;
}

.list ul{
    border-bottom: 3px solid #fff;
    list-style: none;
    display: flex;
    font-size: 1.3em;
}

.list ul li{
    margin: 0px 40px;
    margin-bottom: 20px;
}

.phone-number img{
    position: absolute;
    top: 10px;
    right: 250px;
    -webkit-filter: invert(1);
}

.phone-number{
    display: flex;
    margin: 0px 100px;
}

/* navbar end */

section{
    display: flex;
    flex-direction: row;
}

.left-section{
    color: #fff;
    margin: 100px 0px;
    margin-left: 80px;
}

.left-section h1{
    font-size: 4em;
}

.left-section button{
    background: transparent;
    border: none;
    border: 3px solid #fff;
    border-radius: 30px;
    color: #fff;
    padding: 15px 30px;
    font-size: 1.2em;
    margin-top: 80px;
}

/* rigth-section */

.puzzle-section{
    position: relative;
    right: -450px;
    background-color:#ffffff30;
    height: 150px;
}

.puzzle{
    width: 250px;
    padding: 0px 10px;
}

.puzzle-section-text{
    color: #fff;
    position: relative;
    left: 25px;
    bottom: 20px;
    font-size: 1.25em;
}

.dot-line-icon{
    position: relative;
    transform: rotate(180deg);
    top: -171px;
    left: 30px;
}

.bulb-section{
    position: relative;
    top: 150px;
    left: 100px;
    background-color:#ffffff30;
    height: 170px;
}

.bulb{
    width: 250px;
    padding: 0px 10px;
    margin-left: -50px;
}

.bulb-section-text{
    color: #fff;
    position: relative;
    left: 25px;
    bottom: 20px;
    font-size: 1.25em;
}

.dot-line-icon2{
    position: relative;
    transform: rotate(90deg);
    bottom: 210px;
    left: 100px;
}

@media only screen and (max-width: 600px) {
    body{
        
    }
    nav{
        color: #fff;
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .logo{
        font-size: 1em;
    }
    
    .list ul{
        border-bottom: none;
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 0.6em;
    }
    
    .list ul li{
        margin: 10px 3px;
        margin-bottom: 10px;
    }
    
    .phone-number img{
        display: none;
    }
    
    
    /* navbar end */

    /* top section */
    section{
        display: flex;
        flex-direction: column;
    }
    
    .left-section{
        color: #fff;
        margin: 10px 0px;
        margin-left: 20px;
    }
    
    .left-section h1{
        font-size: 1.5em;
    }
    
    .left-section button{
        background: transparent;
        border: none;
        border: 2px solid #fff;
        border-radius: 30px;
        color: #fff;
        padding: 5px 10px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    
    /* buttom-section */
    
    .puzzle-section{
        position: relative;
        margin-top: 50px;
        left: 20px;
        background-color:#ffffff30;
        height: 100px;
        width: 200px;
    }
    
    .puzzle{
        width: 150px;
        padding: 0px 10px;
    }
    
    .puzzle-section-text{
        color: #fff;
        position: relative;
        left: 15px;
        bottom: 10px;
        font-size: 0.8em;
    }
    
    .dot-line-icon{
        display: none;
    }
    
    .bulb-section{
        position: relative;
        top: 30px;
        left: 20px;
        background-color:#ffffff30;
        height: 100px;
        width: 200px;
    }
    
    .bulb{
        width: 150px;
        padding: 0px 10px;
        margin-left: -30px;
    }
    
    .bulb-section-text{
        color: #fff;
        position: relative;
        left: 15px;
        bottom: 20px;
        font-size: 0.8em;
    }
    
    .dot-line-icon2{
        display: none;
    }
}